<h1>All posts</h1>

<ol>
  <% @posts.each_with_index do |post, index| %>
    <li>Title: <%= post.title %><br><br>
      Body: <%= post.body %>
    </li>
    <% if cookies[:user_id] %>
      <p>Authors: <%= @authors_names[index] %></p>
    <% end %>
    <br><br>
  <% end %>
</ol>
