<h1>All posts</h1>

<ol>
  <% @posts.each do |post| %>
    <li>Title: <%= post.title %><br><br>
      Body: <%= post.body %>
      <% if cookies[:user_id] %>
        <br><br>Author: <%= post.user_id.name %>
      <% end %></li>
    <br><br>
  <% end %>
</ol>
